@media screen and (min-width: 1921px) {
    .banner {
        height: 49.010416667vw;
    }
}

@media screen and (max-width: 1260px) {

    .banner {
        margin-top: 91px;
        margin-bottom: 0;
    }

    .banner-img-storage,
    .banner-img-services {
        order: 2;
        position: static;
        height: auto;
    }

    .photo-style {
        width: 100%;
    }

    .section.banner {
        display: flex;
    }

    .banner-text-storage,
    .banner-text-services {
        order: 1;
        height: 283px;
        position: static;
    }


    .subtitle-bold {
        font-weight: 500;
    }

    .text-container-storage,
    .text-container-services {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        margin-top: 40px;
        position: static;
    }


    .banner-title {
        margin-top: 0;
    }

    .text-blue-storage {
        font-size: 36px;
    }

    .banner-subtitle {
        width: 100%;
        margin: 28px 0 31px;
        font-weight: 400;

    }

    .subtitle-bold br {
        display: none;
    }

    .linear {
        display: none;
    }

    /* Content-storage */
    .section.content-storage {
        margin-top: 44px;
        margin-bottom: 80px;
    }

    .box-richt {
        width: 100%;
        margin-left: 0;
    }

    .box-left.storage {
        margin-bottom: 136px;
        width: 100%;
        max-width: 728px;
    }

    .box-left {
        max-width: 728px;
    }

}

@media screen and (max-width: 767px) {

    .section.banner {
        margin-top: 71px;
        height: auto;
    }

    .text-container-storage {
        margin-top: 20px;
    }

    .text-blue-storage {
        font-size: 26px;
    }

    .banner-title {
        text-align: center;
    }

    .banner-subtitle {
        margin: 20px 0 0;
        font-size: 16px;
    }

    .banner-subtitle.services {
        font-weight: 500;
    }

    .banner-img-storage {
        margin-top: -80px;
        z-index: -1;
    }

    .banner-text-services {
        height: 170px;
    }

    .text-container-services {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
    }

    .text-container-services .banner-title .banner-subtitle {
        font-weight: 500;
    }

    .list-storage li {
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-content {
        margin-top: 30px;
    }

    .btn {
        width: 100%;
    }

    .btn.storage {
        padding: 12px 30px;
        position: absolute;
        bottom: 8vw;
        left: 0;
        margin: 0 15px;
        max-width: calc(100% - 30px);
    }

    .btn.services {
        bottom: -18vw;
    }

    .text-content {
        font-size: 16px;
    }

    .text-content br {
        display: none;
    }

    .section.content-storage {
        margin-bottom: 10px;
    }

    .section.content-storage {
        margin-top: 80px;
    }

    .box-left {
        width: 100%;
        max-width: 330px;
    }
}

@media screen and (max-width: 350px) {
    .banner-img-storage {
        margin-top: -40px;
        z-index: -1;
    }

    .text-blue-storage.services {
        font-size: 22px;
    }
}
