/* Section-1 */
.banner {
    margin-top: 100px;
}

.banner-img-rent {
    width: 100%;
    height: 941px;
    position: absolute;
    left: 0;
}

.banner-text-rent {
    width: 100%;
    height: 941px;
    position: relative;
}

.text-container-rent {
    display: flex;
    flex-wrap: wrap;
    width: 468px;
    position: absolute;
    right: calc((100% - 1240px)/2 - 38px);
    margin-top: 95px;
}

.text-blue-rent {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 160%;
    color: #167FC9;
}

.banner-subtitle {
    margin: 75px 0 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    color: #222222;
}

.subtitle-bold {
    font-weight: 600;
}

/* Content-rent */

.content-rent {
    position: relative;
    margin-top: 60px;
    margin-bottom: 120px;
}

.container.rent {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.text-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left {
    width: 100%;
    display: flex;
}

.list-rent li {
    width: 100%;
    display: flex;
    align-items: center;
}

.first-box {
    margin-left: calc((100% - 1240px)/2 + 170px);
}

.box {
    margin-left: calc((100% - 1240px)/2 + 170px);
}

.text-content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
}

.text-content span, p {
    font-weight: bold;
}

.subtitle {
    margin-bottom: 10px;
}

.last-list {
    margin-top: 50px;
}

.ml80 {
    margin-left: -95px;
}
.mb10 {
    margin-bottom: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.block-1 {
    margin-bottom: 50px;
}

.block-2 {
    margin-bottom: 30px;
}

.block-3 {
    margin-bottom: 15px;
}
.block-4 {
    margin-bottom: 80px;
}