/* Section-1 */
.banner {
    margin-top: 100px;
    height: 941px;
    position: relative;
}

.banner-img-storage {
    width: 100%;
    /*height: 941px;*/
    position: absolute;
    left: 0;
}

.banner-img-storage img {
    width: 100%;
}

.banner-text-storage {
    width: 100%;
    height: 941px;
    position: relative;
}

.text-container-storage {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    position: absolute;
    right: calc((100% - 1240px)/2 - 36px);
    margin-top: 95px;
}

.text-container-services {
    display: flex;
    flex-wrap: wrap;
    width: 581px;
    position: absolute;
    right: calc((100% - 1240px)/2 - 20px);
    margin-top: 95px;
}

.text-blue-storage {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 160%;
    color: #167FC9;
}

.banner-subtitle {
    margin: 70px 0 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 150%;
    color: #222222;
}

.subtitle-bold {
    font-weight: 600;
}

/* Content-storage */

.content-storage {
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;
}

.linear {
    position: absolute;
    top: -260px;
    left: 0;
    z-index: -1;
}

.box-left,
.box-richt {
    margin-bottom: 80px;
    width: 873px;
}

.list-storage li {
    display: flex;
    align-items: center;
}

.text-content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
}

.text-content span, p {
    font-weight: bold;
}

.box-richt {
    margin-left: calc(100% - 885px);
}

.text-link {
    color: #167FC9;
    text-decoration-color: #167FC9;
    text-decoration-line: underline;
}

.text-content.button {
    margin-bottom: 30px;
}

.img-box {
    margin-top: -106px;
}
.box-left.storage {
    margin-bottom: 149px;
}







